.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "header header header header" "cancel mplus percent division" "seven eight nine multiplyM" "four five six minus" "one two three plus" "zero0 zero0 dott equal";
    grid-gap: 5px;
    justify-items: stretch;
    /* or center */
    align-items: stretch;
    /* or center */
    height: 700px;
    width: 500px;
    align-self: center;
    margin: auto;
    margin-top: 100px;
}

button {
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
    background: -moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background: -webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background: -o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background: -ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9', GradientType=0);
    background-color: #f9f9f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 35px;
    font-weight: bold;
    padding: 14px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
    background: -moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background: -webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background: -o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background: -ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9', GradientType=0);
    background-color: #e9e9e9;
}

button:active {
    position: relative;
    top: 1px;
}

#orange {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffb726), color-stop(1, #fc8e2d));
    background: -moz-linear-gradient(top, #ffb726 5%, #fc8e2d 100%);
    background: -webkit-linear-gradient(top, #ffb726 5%, #fc8e2d 100%);
    background: -o-linear-gradient(top, #ffb726 5%, #fc8e2d 100%);
    background: -ms-linear-gradient(top, #ffb726 5%, #fc8e2d 100%);
    background: linear-gradient(to bottom, #ffb726 5%, #fc8e2d 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffb726', endColorstr='#fc8e2d', GradientType=0);
    background-color: #ffb726;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;

    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffaa00;
}

#orange:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8e2d), color-stop(1, #ffb726));
    background: -moz-linear-gradient(top, #fc8e2d 5%, #ffb726 100%);
    background: -webkit-linear-gradient(top, #fc8e2d 5%, #ffb726 100%);
    background: -o-linear-gradient(top, #fc8e2d 5%, #ffb726 100%);
    background: -ms-linear-gradient(top, #fc8e2d 5%, #ffb726 100%);
    background: linear-gradient(to bottom, #fc8e2d 5%, #ffb726 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fc8e2d', endColorstr='#ffb726', GradientType=0);
    background-color: #fc8e2d;
}

#orange :active {
    position: relative;
    top: 1px;
}

button:focus {
    outline: 0;
}

p {
    font-size: 50pt;
    float: right;
    margin-right: 10px;
    font-family: monospace;
    color: white;
}

#result {
    grid-area: header;
    background: black;
    height: 150px;
}



#cancel {
    grid-area: cancel;
}

#mplus {
    grid-area: mplus;
}

#percent {
    grid-area: percent;
}

#division {
    grid-area: division;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#multiply {
    grid-area: multiplyM;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#minus {
    grid-area: minus;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#plus {
    grid-area: plus;
}

#zero {
    grid-area: zero0;
}

#dot {
    grid-area: dott;
}

#equal {
    grid-area: equal;
}